<h1> OneDay Admin Portal</h1>
<p>Welcome to One Day Admin Portal</p>
<div *ngIf="loginViewModel">
    <label>
        Email:
        <input [(ngModel)]="loginViewModel.Email" placeholder="Email">
    </label>
    <label>
        Password:
        <input [(ngModel)]="loginViewModel.Password" placeholder="Password" type="password">
    </label>
    <button (click)="LoginUser(loginViewModel)">Login</button>

    <br><span><b>{{ loginViewModel.Result }}</b></span><br>
</div>
