<h1>Companies</h1>

<p>List of Companies</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="companyStats">
    <thead>
        <tr>            
            <th>Company</th>
            <th># of Videos</th>
            <th>New</th>
            <th>Featured</th>            
            <th>Logins</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cmpny of companyStats">
            <td>{{ cmpny.name }}{{cmpny.city}} {{cmpny.state}} {{cmpny.zip}}</td>
            <td>{{cmpny.userVideos  }}</td>
            <td>{{ cmpny.newVideos }}</td>
            <td>{{ cmpny.videoFeatured }}</td>
            <td>{{ cmpny.logins }}</td>
        </tr>
    </tbody>
</table>
